@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;700&display=swap");

.mainheader {
  position: relative;
  left: 20px;
  bottom: 50px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: rgb(245, 243, 249);
}

@media (min-width: 576px) {
  .mainheader-fontsize {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  .mainheader-fontsize {
    font-size: 35px;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
  }
  .mainheader {
    position: relative;
    left: 20px;
    bottom: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    color: rgb(245, 243, 249);
  }
}

@media (min-width: 992px) {
  .mainheader-fontsize {
    font-size: 40px;
    font-weight: bolder;
  }
}
